---
const links = [
    { href: "/", text: "Listado" },
    { href: "/pokemons/1", text: "Páginado" },
    { href: "/favorites", text: "Favoritos" },
    // { href: "/islas", text: "Islas" },
];

const currentPath = Astro.url.pathname;
---

<nav class="shadow sticky top-0 z-50 bg-slate-900">
    <div
        class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300"
    >
        {
            links.map(({ href, text }) => (
                <a
                    class={href === currentPath ? "active" : "inactive"}
                    href={href}
                >
                    {text}
                </a>
            ))
        }
    </div>
</nav>

<style>
    @reference '../../styles/global.css';
    .active {
        @apply border-b-2 border-blue-500 mx-1.5 sm:mx-6 text-white font-semibold;
    }
    .inactive {
        @apply border-b-2 border-transparent mx-1.5 sm:mx-6 hover:text-gray-200 hover:border-blue-500;
    }
</style>
