---
import MainLayout from "@layouts/MainLayout.astro";
import type { PokemonListResponse } from "@interfaces/pokemon-list-response";
import PokemonCard from "@components/pokemons/PokemonCard.astro";
import Title from "@components/shared/Title.astro";
import { LIMITE_POKEMONS_LIST } from "src/global/limits";

const resp = await fetch(
	`https://pokeapi.co/api/v2/pokemon?limit=${LIMITE_POKEMONS_LIST}`,
);
const pokemones = (await resp.json()) as PokemonListResponse;
---

<MainLayout title="STBN | Pokemon" description="Esta es la pagina de Pokemon">
	<Title title="Listado de pokemon" />

	<section
		aria-label="Listado de pokemons"
		class="mt-4 mb-5 py-5 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
	>
		{
			pokemones.results.map((pokemon) => (
				<PokemonCard name={pokemon.name} url={pokemon.url} />
			))
		}
	</section>
</MainLayout>
