---
import MainLayout from "@layouts/MainLayout.astro";
import type { PokemonListResponse } from "@interfaces/pokemon-list-response";
import PokemonCard from "@components/pokemons/PokemonCard.astro";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon");
const pokemones = (await resp.json()) as PokemonListResponse;
---

<MainLayout title="STBN | Pokemon" description="Esta es la pagina de Pokemon">
	<h1 class="text-4xl text-orange-400 text-center font-bold">
		Listado de Pokémons
	</h1>

	<section
		aria-label="Listado de pokemons"
		class="mt-4 mb-5 py-5 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
	>
		{
			pokemones.results.map((pokemon) => (
				<PokemonCard name={pokemon.name} url={pokemon.url} />
			))
		}
	</section>
</MainLayout>
